header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav a{
    margin: 0 20px;
}

nav img{
    width: 50px;
    cursor: pointer;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    height: 60px;
}
